-- phpMyAdmin SQL Dump
-- version 2.10.3
-- http://www.phpmyadmin.net
-- 
-- Host: localhost
-- Generation Time: May 10, 2011 at 08:30 AM
-- Server version: 5.0.45
-- PHP Version: 5.2.6

SET SQL_MODE="NO_AUTO_VALUE_ON_ZERO";

-- 
-- Database: `kma`
-- 

-- --------------------------------------------------------

-- 
-- Table structure for table `album`
-- 

CREATE TABLE `album` (
  `AID` varchar(32) NOT NULL,
  `ATitle_en` varchar(255) NOT NULL,
  `ATitle_ar` varchar(255) NOT NULL,
  `lang` varchar(2) NOT NULL default 'ar',
  `NVNom` bigint(20) NOT NULL,
  `NDate` datetime NOT NULL default '0000-00-00 00:00:00',
  PRIMARY KEY  (`AID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `album`
-- 


-- --------------------------------------------------------

-- 
-- Table structure for table `contactus`
-- 

CREATE TABLE `contactus` (
  `CID` varchar(32) NOT NULL,
  `Name` varchar(255) NOT NULL,
  `Mobile` varchar(255) default NULL,
  `Email` varchar(255) default NULL,
  `Country` varchar(255) default NULL,
  `MText` text,
  `FromIP` varchar(255) default NULL,
  `lang` char(2) NOT NULL default 'ar',
  `NDate` datetime NOT NULL,
  `DeptID` varchar(32) NOT NULL,
  PRIMARY KEY  (`CID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `contactus`
-- 


-- --------------------------------------------------------

-- 
-- Table structure for table `depts`
-- 

CREATE TABLE `depts` (
  `DeptID` varchar(32) NOT NULL,
  `Dept_ar` varchar(255) NOT NULL,
  `Dept_en` varchar(255) default NULL,
  `Email` varchar(255) NOT NULL,
  `NDate` datetime NOT NULL,
  PRIMARY KEY  (`DeptID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `depts`
-- 

INSERT INTO `depts` VALUES ('4d6f303d57f0b', 'المبيعات', 'Sales', 'info@damacable.com.sy', '2011-03-03 08:07:57');

-- --------------------------------------------------------

-- 
-- Table structure for table `dirs`
-- 

CREATE TABLE `dirs` (
  `DID` varchar(32) NOT NULL,
  `DName` varchar(255) NOT NULL,
  `DRoot` varchar(32) NOT NULL default '0',
  `NHidden` tinyint(1) NOT NULL default '0',
  `NDate` datetime NOT NULL,
  `DIcon` varchar(10) default NULL,
  `FieldsSet` varchar(32) default NULL,
  `EnabledFeatures` text,
  `EnabledActions` text,
  `DName_en` varchar(255) NOT NULL,
  PRIMARY KEY  (`DID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `dirs`
-- 

INSERT INTO `dirs` VALUES ('4d6a5da77def5', 'جذر 1', '0', 0, '2011-02-27 15:55:26', 'jpg', NULL, NULL, NULL, 'root 1');
INSERT INTO `dirs` VALUES ('4d6a5db085fde', 'جذر 2', '0', 0, '2011-02-27 16:20:32', 'jpg', NULL, NULL, NULL, 'root 2');
INSERT INTO `dirs` VALUES ('4d6bbe2108343', 'ابن 1', '4d6a5da77def5', 0, '2011-02-28 17:24:17', 'jpg', NULL, NULL, NULL, 'son 1');

-- --------------------------------------------------------

-- 
-- Table structure for table `indextbl`
-- 

CREATE TABLE `indextbl` (
  `SrchID` varchar(32) NOT NULL,
  `TopicID` varchar(32) NOT NULL,
  `Topic` varchar(255) NOT NULL,
  `TopicText` text NOT NULL,
  `NDate` datetime NOT NULL,
  `tbl` varchar(255) NOT NULL,
  `IndexView` text,
  PRIMARY KEY  (`SrchID`),
  KEY `tbl` (`tbl`),
  KEY `Topic` (`Topic`),
  FULLTEXT KEY `TopicText` (`TopicText`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `indextbl`
-- 


-- --------------------------------------------------------

-- 
-- Table structure for table `news`
-- 

CREATE TABLE `news` (
  `NID` varchar(32) NOT NULL,
  `NTitle` varchar(255) NOT NULL,
  `NSum` text,
  `NText` text,
  `NPic` varchar(10) default NULL,
  `NDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `NHidden` tinyint(1) NOT NULL default '0',
  `NHidePhoto` tinyint(1) NOT NULL default '0',
  `NVNom` bigint(20) NOT NULL default '0',
  `lang` char(2) NOT NULL default 'ar',
  `NType` tinyint(4) NOT NULL default '0',
  `LinkTo` varchar(255) default NULL,
  `AID` varchar(32) default NULL,
  `PopupLink` text,
  `FileA` varchar(10) default NULL,
  `FileB` varchar(10) default NULL,
  `HDate` datetime default NULL,
  PRIMARY KEY  (`NID`),
  KEY `NType` (`NType`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `news`
-- 


-- --------------------------------------------------------

-- 
-- Table structure for table `pic`
-- 

CREATE TABLE `pic` (
  `PID` varchar(32) NOT NULL,
  `PTitle_en` varchar(255) default NULL,
  `PTitle_ar` varchar(255) NOT NULL,
  `Pic` varchar(10) NOT NULL,
  `Video` varchar(10) default NULL,
  `VideoLink` text,
  `AID` varchar(32) NOT NULL,
  `lang` varchar(2) NOT NULL default 'ar',
  `NDate` datetime NOT NULL default '0000-00-00 00:00:00',
  PRIMARY KEY  (`PID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `pic`
-- 

INSERT INTO `pic` VALUES ('4dbae80a4ceda', 'شهادة 1', 'شهادة 1', 'jpg', '', '', 'certs', 'ar', '2011-04-29 19:29:58');
INSERT INTO `pic` VALUES ('4dbae862afd20', 'شهادة 2', 'شهادة 2', 'jpg', '', '', 'certs', 'ar', '2011-04-29 19:33:38');
INSERT INTO `pic` VALUES ('4dbae8e633e4d', 'شهادة 3', 'شهادة 3', 'jpg', '', '', 'certs', 'ar', '2011-04-29 19:35:50');

-- --------------------------------------------------------

-- 
-- Table structure for table `products`
-- 

CREATE TABLE `products` (
  `NID` varchar(32) NOT NULL,
  `NTitle` varchar(255) NOT NULL,
  `NSum` text,
  `NText` text,
  `NPic` varchar(10) default NULL,
  `NDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `NHidden` tinyint(1) NOT NULL default '0',
  `NHidePhoto` tinyint(1) NOT NULL default '0',
  `NVNom` bigint(20) NOT NULL default '0',
  `lang` char(2) NOT NULL default 'ar',
  `DRoot` varchar(32) NOT NULL default '0',
  `AID` varchar(32) default NULL,
  `PopupLink` text,
  PRIMARY KEY  (`NID`),
  KEY `NType` (`DRoot`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `products`
-- 


-- --------------------------------------------------------

-- 
-- Table structure for table `samples`
-- 

CREATE TABLE `samples` (
  `SampleID` varchar(32) NOT NULL,
  `BookID` varchar(32) NOT NULL,
  `FileName` varchar(255) NOT NULL,
  `FType` varchar(10) NOT NULL,
  `FLink` text,
  `NDate` datetime NOT NULL,
  `NVNom` bigint(20) NOT NULL default '0',
  `lang` varchar(2) NOT NULL default 'ar',
  PRIMARY KEY  (`SampleID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `samples`
-- 

INSERT INTO `samples` VALUES ('4da704c922286', '4d6f4322b2c2b', 'test pdf', 'pdf', '', '2011-04-14 17:29:29', 1, 'en');
INSERT INTO `samples` VALUES ('4dbb91263ecf2', '4dbb90ee39f47', 'test pdf', 'pdf', '', '2011-04-30 07:33:42', 0, 'ar');
INSERT INTO `samples` VALUES ('4dc7d37b8dcfd', '4d6d15eae5b03', 'test pdf', 'png', '', '2011-05-09 14:43:55', 0, 'ar');

-- --------------------------------------------------------

-- 
-- Table structure for table `tcount`
-- 

CREATE TABLE `tcount` (
  `CountID` bigint(1) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `tcount`
-- 

INSERT INTO `tcount` VALUES (8);

-- --------------------------------------------------------

-- 
-- Table structure for table `temp_news`
-- 

CREATE TABLE `temp_news` (
  `NID` varchar(32) NOT NULL,
  `NSum_ar` text,
  `NSum_en` text,
  `NText_ar` text,
  `NText_en` text,
  `NDate` datetime NOT NULL,
  PRIMARY KEY  (`NID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `temp_news`
-- 


-- --------------------------------------------------------

-- 
-- Table structure for table `ulinks`
-- 

CREATE TABLE `ulinks` (
  `NID` varchar(32) NOT NULL,
  `LClass` varchar(255) default NULL,
  `NTitle` varchar(255) NOT NULL default '',
  `NLink` text,
  `NText` text,
  `NDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `NHidden` tinyint(1) NOT NULL default '0',
  `NVNom` bigint(20) NOT NULL default '0',
  `lang` varchar(2) NOT NULL default 'en',
  PRIMARY KEY  (`NID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `ulinks`
-- 


-- --------------------------------------------------------

-- 
-- Table structure for table `users`
-- 

CREATE TABLE `users` (
  `GID` varchar(32) NOT NULL,
  `UserName` varchar(50) NOT NULL default '',
  `GSP` text NOT NULL,
  `GSQ` tinyint(4) default '0',
  `GSA` text,
  `Country` varchar(2) default NULL,
  `NDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `UserType` char(1) NOT NULL default 'M',
  PRIMARY KEY  (`GID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `users`
-- 

INSERT INTO `users` VALUES ('2', 'admin', '123456', 0, NULL, NULL, '0000-00-00 00:00:00', 'A');

-- --------------------------------------------------------

-- 
-- Table structure for table `vcomments`
-- 

CREATE TABLE `vcomments` (
  `VID` varchar(32) NOT NULL,
  `vNID` varchar(32) NOT NULL,
  `Name` varchar(255) NOT NULL,
  `EMail` varchar(255) default NULL,
  `Comment` text NOT NULL,
  `FromIP` text NOT NULL,
  `NDate` datetime NOT NULL,
  `NTable` varchar(255) NOT NULL,
  `NHidden` tinyint(1) NOT NULL default '1',
  PRIMARY KEY  (`VID`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- 
-- Dumping data for table `vcomments`
-- 

